---
import { getCollection } from "astro:content";
import PostCard from "@/components/molecules/PostCard.astro";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const allSciencePosts = await getCollection("science");
const sciencePosts = allSciencePosts.filter((post) => lang === post.data.lang);

const categoryName = {
  en: "Science",
  es: "Ciencia",
  pt: "Ciência",
};
---

<section>
  <h2>Science Posts</h2>
  <div class="cards-container">
    {
      sciencePosts.map((post) => (
        <PostCard
          title={post.data.title}
          description={post.data.description}
          tags={post.data.tags}
          link={post.id}
          author={post.data.author},
          publishedDate={post.data.publishDate}
          category={categoryName[lang]}
          blogName="science"
          cover={post.data.cover}
        />
      ))
    }
  </div>
</section>

<style>
  h2 {
    font-size: var(--fs-l);
    font-weight: 600;
    text-align: center;
    padding: var(--fs-s);
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--fs-s);
    padding: var(--fs-s);
  }
</style>
