---
import { getCollection } from "astro:content";
import { getLangFromUrl } from "@/i18n/utils";
import PostCard from "@/components/molecules/PostCard.astro";

const lang = getLangFromUrl(Astro.url);
const allSocialPosts = await getCollection("social");

const socialPosts = allSocialPosts.filter((post) => lang === post.data.lang);

const categoryName = {
  en: "Social Justice",
  es: "Justicia Social",
  pt: "Justiça Social",
};
---

<section class="social-container">
  <h2>Social Posts</h2>

  <div class="cards-container">
    {
      socialPosts.map((post) => (
        <PostCard
          title={post.data.title}
          description={post.data.description}
          tags={post.data.tags}
          link={post.id}
          author={post.data.author},
          publishedDate={post.data.publishDate}
          category={categoryName[lang]}
          cover={post.data.cover}
        />
      ))
    }
  </div>
</section>
<style>
  h2 {
    font-size: var(--fs-l);
    font-weight: 600;
    text-align: center;
    padding: var(--fs-s);
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--fs-s);
    padding: var(--fs-s);
  }
</style>