---
import "@/css/focus.css";

import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";

import SpongeCartoon from "@/assets/images/focus/spongeCartoon.png";
import FocusLogo from "@/assets/images/FOCUS4PFAS.jpg";
import comic_01 from "@/assets/images/focus/v_01.png";
import comic_02 from "@/assets/images/focus/v_02.png";

import video_01 from "@/assets/videos/focus/video_01.mp4";
import video_02 from "@/assets/videos/focus/video_02.mp4";
---

<Layout>
  <main class="main-container">
    <h1>Focus For PFAS</h1>
    <header>
      <Image class="focus" src={FocusLogo} alt={"Focus for PFAS LOGO"} />
      <Image
        class="spongeCartoon"
        src={SpongeCartoon}
        alt={"Cartoon of a Sponge"}
      />
    </header>

    <section class="introduction">
      <article>
        <h2>What are PFAS and why are they a problem?</h2>
        <p>
          <strong>PFAS</strong> are man-made chemicals that have been used since
          the 1940s in many everyday products. They're often called <strong
            >"forever chemicals"</strong
          > because they <strong>don’t break down easily</strong> and <strong
            >can stay in the environment for a very long time.</strong
          >
        </p>
        <p>
          That’s because PFAS are made with a super-strong bond (between carbon
          and fluorine) that makes them <strong>extremely hard to remove</strong
          >, even with advanced water treatment systems. Once PFAS are released
          into the environment, <strong
            >they stay there—sometimes forever.</strong
          >
        </p>
      </article>
      <article class="comic_container">
        <figure>
          <Image src={comic_01} alt={"una familia en la cocina"} />
          <!-- <figcaption>Images description</figcaption> -->
        </figure>
        <figure>
          <Image src={comic_02} alt={"una familia en la cocina"} />
          <!-- <figcaption>Image description</figcaption> -->
        </figure>
      </article>
    </section>
    <section>
      <article>
        <h2>What is this project doing?</h2>
        <p>
          This project is focused on <strong
            >finding a way to remove PFAS from contaminated water</strong
          > using a special type of sponge made from <strong>graphene</strong>,
          a powerful and modern material.
        </p>
        <p>
          The idea is to use <strong>electricity and this sponge</strong> to break
          down different types of PFAS and to <strong
            >completely destroy the harmful parts</strong
          > of these chemicals:
          <ul>
            <li>
              Including the <strong>longer-lasting ones</strong>
            </li>
            <li>
              The <strong>smaller and newer ones</strong>
            </li>
            <li>
              And even the <strong>most difficult-to-remove kinds</strong>
            </li>
          </ul>
        </p>
      </article>
      <article class="video_container">
        <figure>
          <video controls src={video_01}></video>
          <figcaption>
            Modifying the electrode pores improves the way PFAS bind or react
            with the anode as they pass through the material, thus optimizing
            the process's efficiency.
          </figcaption>
        </figure>
        <figure>
          <video controls src={video_02}></video>
          <figcaption>
            This reactor operates continuously and destroys PFAS compounds when
            an electric current is applied. As they pass through the anode, the
            toxic substances are transformed into non-toxic compounds, allowing
            the water to exit the reactor much cleaner.
          </figcaption>
        </figure>
      </article>
    </section>
    <section>
      <article>
        <h2>Why does it matter?</h2>
        <p>
          Getting rid of PFAS from water is an important step to <strong
            >protect our health and the environment</strong
          >. With this new technology, we aim to clean up different kinds of
          polluted water, making it safer for everyone.
        </p>
      </article>
    </section>
  </main>
</Layout>
