---
import Layout from "@/layouts/BlogLayout.astro";
import BlogHero from "@/components/molecules/BlogHero.astro";
import { Blogs } from "@/i18n/types";
import { blogsHero } from "@/i18n/ui"
import { getCollection } from "astro:content";
import { getLangFromUrl } from "@/i18n/utils";
import { selectImage, postPath } from "@/js/utils"
import PostCard from "@/components/molecules/PostCard.astro";

const lang = getLangFromUrl(Astro.url);

export function getStaticPaths() {
  const blogs: Array<Blogs> = [Blogs.Social, Blogs.Education, Blogs.Science];
  const languages = ["pt", "es", "en"];
  // 1. Generate a new path for every blog and language
  const paths: Array<{ params: { blog: Blogs; lang?: string } }> = [];
  for (const blog of blogs) {
    for (const lang of languages) {
      paths.push({ params: { blog, lang: lang === "en" ? undefined : lang } });
    }
  }
  
  return paths;
}

const { blog } = Astro.params;

const allBlogPosts = await getCollection(blog);
const blogPosts = allBlogPosts.filter((post) => lang === post.data.lang);

const banners = Object.entries(
  import.meta.glob<{ default: ImageMetadata }>(
    "@/assets/images/blogs/heroes/*.{jpg,jpeg,png}",
    {
      eager: true,
    }
  )
);

const sectionHeader = {
  [Blogs.Education]: {
    es: "Donde ciencia y educación inspiran el cambio",
    en: "Where science and education inspire change",
    pt: "Onde ciência e educação inspiram a mudança"
  },
  [Blogs.Science]: {
    es: "Donde la ciencia se conecta con la realidad",
    en: "Where science connects with reality",
    pt: "Onde a ciência se conecta com a realidade"
  },
  [Blogs.Social]: {
    es: "Donde ciencia y sociedad se unen con perspectiva",
    en: "Where science and society unite with perspective",
    pt: "Onde ciência e sociedade se unem com perspectiva"
  }
  }

---
<Layout>
  <BlogHero slot={"hero"} title={blogsHero[blog][lang].title} description={blogsHero[blog][lang].description} banner={selectImage({title: blog, images: banners})} iconName={blogsHero.iconName[blog]} />
  <section>
  <h2>{sectionHeader[blog][lang]}</h2>
  <div class="cards-container">
    {
      blogPosts.map((post) => (
        <PostCard
          title={post.data.title}
          description={post.data.description}
          tags={post.data.tags}
          link={postPath(post.id)}
          author={post.data.author},
          publishedDate={post.data.publishDate}
          category={blogsHero[blog][lang].category}
          cover={post.data.cover}
          color={blogsHero.color[blog]}
        />
      ))
    }
  </div>
</section>
</Layout>
<style>
  h2 {
    font-size: var(--fs-l);
    font-weight: 600;
    text-align: center;
    padding: var(--fs-s);
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--fs-s);
  }
</style>
