---
import type { MarkdownFile, BookData } from "@/types";

import { Image } from "astro:assets";

import { getLangFromUrl, getLink } from "@/i18n/utils";
import { getContentFromImport, getBookInfo } from "@/js/utils.js";

const lang = getLangFromUrl(Astro.url);

const mdFiles: MarkdownFile[] = Object.values(
  import.meta.glob<MarkdownFile>(`@/content/book/*.md`, {
    eager: true,
  })
);

const { frontmatter } = getContentFromImport({ mdFiles, lang });
const path = getLink("/books", lang);
const bookData: BookData = await getBookInfo({ isbn: frontmatter?.isbn });

const buttonText = {
  en: "Read More",
  es: "Leer más",
  pt: "Leia mais",
};
---

<article>
  <Image src={bookData?.cover?.large} alt={`${bookData?.title}`} inferSize />
  <div>
    <header>
      <h3>{bookData.title}</h3>
      <small>{bookData.subtitle}</small>
    </header>
    <p>
      {frontmatter?.intro}.
    </p>
    <a href={`${Astro.url.origin}${path}`}>{buttonText[lang]}</a>
  </div>
</article>
<style>
  article {
    display: flex;
    flex-wrap: wrap;
    padding: var(--fs-s);
    background-color: var(--dark-bg-clr);
    color: var(--light);
    border-radius: var(--fs-xs);
    box-shadow: 3px 10px 10px 2px var(--dark);
    margin-block: var(--fs-s);
  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  div {
    padding: var(--fs-s);
    display: grid;
  }
  h3 {
    color: var(--primary-0);
    font-size: var(--fs-m);
    font-weight: 600;
    margin-bottom: 0;
  }
  p {
    padding: var(--fs-xs);
  }
  a {
    place-self: end;
    padding: var(--fs-xs);
    background-color: oklch(from var(--secondary-0) l c h);
    color: oklch(from var(--primary-0) l c h);

    &:hover {
      background-color: oklch(from var(--secondary-0) calc(l - 0.1) c h);
      color: oklch(from var(--primary-0) l c h);
    }
  }

  @media screen and (width > 425px) {
    img {
      max-width: 300px;
    }
  }
  @media screen and (width >= 768px) {
    article {
      flex-wrap: nowrap;
    }
  }
</style>
