---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  intro: string;
  author: string;
  cover: ImageMetadata;
  id: string;
  buttonLabel: string;
}
const { title, intro, author, cover, id, buttonLabel } = Astro.props;

const bookPath = id.split("/");
const bookId = bookPath.at(-1) || bookPath[0];
---

<article>
  <div>
    <h3>{title}</h3>
    <strong>{author}</strong>
  </div>
  <Image src={cover} alt={title} />
  <p>{intro}</p>
  <a href={`${Astro.url.href}/${bookId}`}>{buttonLabel}</a>
</article>
<style>
  article {
    display: grid;
    place-items: center;
    max-width: calc(300px + 10vw);
    padding: var(--fs-s);
    border: 2px solid var(--text-clr);
    border-radius: var(--fs-xs);
  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-block: var(--fs-xs);
  }
  div {
    display: grid;
    place-items: center;
  }
  h3 {
    font-size: var(--fs-m);
    font-weight: 500;
  }
  strong {
    font-size: var(--fs-s);
    font-weight: 400;
  }
  p {
    text-align: center;
  }
  a {
    background-color: var(--dark-bg-clr);
    color: var(--light);
    padding-block: var(--fs-xs);
    padding-inline: var(--fs-s);
    border-radius: var(--fs-xs);

    &:hover,
    &:focus-visible {
      background-color: oklch(from var(--dark-bg-clr) calc(l - 0.1) c h);
    }
  }
</style>
