---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { defaultLang } from "@/i18n/consts";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);

const bookCollection = await getCollection("books");
const bookSelection = bookCollection.filter((book) => book.data.lang === lang);
const sortedBooks = bookSelection.sort((a, b) => a.data.sort - b.data.sort);
const lastBook = sortedBooks.at(-1) || sortedBooks[0];

const buttonText = {
  en: "Read More",
  es: "Leer más",
  pt: "Leia mais",
};

const path = lang === defaultLang ? `/books` : `/${lang}/books`;
---

<article>
  <Image src={lastBook?.data.cover} alt={`${lastBook.data.title} book cover`} />
  <div>
    <header>
      <h3>{lastBook.data.title}</h3>
      {lastBook?.data?.subtitle && <small>{lastBook?.data?.subtitle}</small>}
    </header>
    <p>{lastBook?.data.intro}</p>
    <a href={path}>{buttonText[lang]}</a>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-wrap: wrap;
    padding: var(--fs-s);
    background-color: var(--dark-bg-clr);
    color: var(--light);
    border-radius: var(--fs-xs);
    box-shadow: 3px 10px 10px 2px var(--dark);
    margin-block: var(--fs-s);
  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  div {
    padding: var(--fs-s);
    display: grid;
  }
  h3 {
    color: var(--primary-0);
    font-size: var(--fs-m);
    font-weight: 600;
    margin-bottom: 0;
  }
  p {
    padding: var(--fs-xs);
  }
  a {
    place-self: end;
    padding: var(--fs-xs);
    background-color: oklch(from var(--secondary-0) l c h);
    color: oklch(from var(--primary-0) l c h);

    &:hover {
      background-color: oklch(from var(--secondary-0) calc(l - 0.1) c h);
      color: oklch(from var(--primary-0) l c h);
    }
  }

  @media screen and (width > 425px) {
    img {
      max-width: 300px;
    }
  }
  @media screen and (width >= 768px) {
    article {
      flex-wrap: nowrap;
    }
  }
</style>
