---
import { Image } from "astro:assets";
import { bookSection } from "@/i18n/ui";
import { getLangFromUrl } from "@/i18n/utils";
import books from "@/data/books.json";
import type { ImageMetadata } from "astro";
interface Props {
  isbn: number;
  cover: ImageMetadata;
  title: string;
  author: string;
}
const lang = getLangFromUrl(Astro.url);
const { isbn, cover, title, author } = Astro.props;

const bookData = books.find((book) => Number(book.isbn) === isbn);
---

{bookData && (
<header>
  <strong>{bookSection[lang].title}</strong>
  <p>{bookSection[lang].description}</p>
</header>
  <article>
    <Image
      src={cover}
      alt={title}
      class="book-cover"
    />
    <div class="book-info">
      <h2>{title}</h2>
      <h3>{author}</h3>
      <p>{bookData?.publish_date}</p>
      <p>{bookData?.publishers?.[0]?.name}</p>
      <p>{bookData?.number_of_pages} pages</p>
    </div>
  </article>
  )}
<style>
  strong {
    font-size: var(--fs-l);
    display: block;
    width: 100%;
    text-align: center;
    padding: var(--fs-m);
  }
  header {
    margin-bottom: var(--fs-m);
    p {
      text-align: center;
      font-weight: 400;
    }
  }
  article {
    display: grid;
    place-items: center;
    padding: var(--fs-s);
    gap: var(--fs-s);
    background-color: var(--dark-bg-clr);
    color: var(--light);
  }
  .book-cover {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 5px 5px 3px 2px oklch(from var(--dark) l c h / 0.5);
  }
  .book-info {
    display: grid;
    place-items: center;
    gap: var(--fs-xs);

    p {
      padding: 0;
    }
  }

  @media screen and (width >= 768px) {
    article {
      grid-template-columns: 1fr 2fr;
      gap: var(--fs-m);
    }
  }
</style>
