---
import { Image } from "astro:assets";
import type { LangKey } from "@/i18n/consts";
import { getLangFromUrl, getLink } from "@/i18n/utils";
import type { PathKey } from "@/i18n/utils";

interface Props {
  name: {
    [key in LangKey]: string;
  };
  description: {
    [key in LangKey]: string;
  };
  image: string;
  url: PathKey;
  id: number;
  pageReady: boolean;
}
const lang = getLangFromUrl(Astro.url);

const { name, description, image, url, pageReady } = Astro.props;

const parsedUrl = getLink(url, lang);

const callsToAction = {
  en: "View Project",
  es: "Ver Proyecto",
};
const notJetTitle = {
  en: "Project under Construction",
  es: "Proyecto en Construcción",
};
---

<article>
  <div class="info">
    <h2>{name[lang]}</h2>
    <p>{description[lang]}</p>
    <a href={pageReady ? `${Astro.url.origin}${parsedUrl}` : "#"}
      >{pageReady ? callsToAction[lang] : notJetTitle[lang]}</a
    >
  </div>
  <p class="title">{name[lang]}</p>
  <Image src={image} alt={"illustrative image"} inferSize />
</article>
<style define:vars={{ image: image.trim() }}>
  article {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 400px;
    border-radius: var(--fs-xs);
    overflow: hidden;
    color: oklch(from var(--ligth) l c h);
    background-color: oklch(from var(--terciary-3) l c h);
  }
  .info {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: var(--fs-xs);
    font-weight: 200;

    p {
      text-align: left;
      padding: var(--fs-xs);
      overflow: hidden;
    }

    a {
      align-self: flex-end;
      font-weight: 400;
      padding: var(--fs-xs);
      border-radius: var(--fs-xs);
      background-color: oklch(from var(--secondary-0) l c h);
      color: oklch(from var(--primary-0) l c h);
      text-align: center;

      &:hover {
        color: var(--primary-0);
        background-color: oklch(from var(--secondary-0) calc(l - 0.1) c h);
      }
    }
  }

  h2 {
    font-size: var(--fs-m);
    font-weight: 400;
  }

  .title {
    position: absolute;
    padding: var(--fs-xs);
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: end;
    color: var(--primary-0);
    z-index: 10;
    font-weight: 600;
    backdrop-filter: blur(5px) brightness(0.5);
    pointer-events: none;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.5s;
    pointer-events: none;
  }
  article:hover :is(.title, img),
  article:focus-within :is(.title, img) {
    opacity: 0;
  }

  @media screen and (width >= 768px) {
    article {
      width: clamp(calc(500px + 5vw), 45%, calc(800px + 5vw));
      height: clamp(calc(400px + 5vw), 20vw, 600px);
    }
  }
</style>
