---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import { getLangFromUrl } from "@/i18n/utils";
import type { InferEntrySchema, RenderedContent } from "astro:content";

interface Props {
  author: {
    id: string;
    body?: string;
    data: InferEntrySchema<"authors">;
    rendered?: RenderedContent;
    filePath?: string;
  };
}
const lang = getLangFromUrl(Astro.url);
const { author } = Astro.props;
---

<aside>
  <Image src={author.data.avatar} alt={author.data.name} />
  <p>{author.data.name} {author.data.lastName}</p>
  <p class="work">{author.data.occupation[lang]}</p>
  <p>{author.data.city}, {author.data.country[lang]}</p>
  <a class="mail" href={`mailto:${author.data.email}`}>{author.data.email}</a>
  <ul class="social">
    {
      author.data.social.map(
        (item) =>
          item.link && (
            <li>
              <a target="_blank" href={item.link}>
                <Icon name={`tabler:${item.icon}`} />
                <span>{item.label}</span>
              </a>
            </li>
          )
      )
    }
  </ul>
</aside>
<style>
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--fs-xs);
    max-width: calc(280px + var(--fs-xl));
    height: fit-content;
    padding: var(--fs-s);
    margin-inline: auto;
    border-radius: var(--fs-xs);
    border: 2px solid var(--inverse-bg-clr);

    p,
    a,
    span {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
  }
  .work {
    text-align: center;
  }
  .mail {
    text-decoration: underline;
  }

  ul {
    display: flex;
    gap: var(--fs-s);
    list-style: none;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      font-weight: 300;
      svg {
        width: var(--fs-m);
        height: var(--fs-m);
      }
    }
  }
  li {
    list-style: none;
  }
  ul:empty {
    display: none;
  }

  @media screen and (width >=768px) {
    aside {
      max-width: calc(350px + var(--fs-xl));
    }
  }
  @media screen and (width >= 1440px) {
    aside {
      position: sticky;
      top: calc(var(--fs-xl) * 2.1);
    }
  }
</style>
