---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { footer } from "@/i18n/ui";

import Focus from "@/assets/images/FOCUS4PFAS.jpg";
import ICRA from "@/assets/images/Logo-ICRA_2-1.svg";
import EC from "@/assets/images/European-Commission.svg";
import Logo from "@/assets/images/BTS_LogoC-V.svg";

import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<footer>
  <div class="info-wrapper">
    <div class="info">
      <Image src={Logo} alt={"Bridge to Science LOGO"} width={200} />
      <div class="contact">
        <a href="mailto:bridgetoscience26@gmail.com"
          >bridgetoscience26@gmail.com</a
        >
        <a
          target="_blank"
          class="anchor_linkedin"
          href="https://www.linkedin.com/in/elisabeth-cuervo-lumbaque-0149b157/"
        >
          Linkedin
          <Icon name="tabler:brand-linkedin" class={"sm"} />
        </a>
      </div>
    </div>
    <div class="sponsor">
      <a
        href="https://icra.cat/"
        target="_blank"
        aria-label="Go to ICRA web site"
      >
        <Image src={ICRA} alt={"ICRA LOGO"} />
      </a>
      <Image class="focus" src={Focus} alt={"Focus for PFAS LOGO"} />
      <a
        href="https://marie-sklodowska-curie-actions.ec.europa.eu/"
        target="_blank"
        aria-label="Go to European Commission web site"
      >
        <Image src={EC} alt={"Flaf of European Union"} />
      </a>
    </div>
  </div>
  <p>
    {footer[lang].label}
    <a href="https://caperasdev.com/">♑CaperAsDev♑</a>
  </p>
</footer>

<style>
  footer {
    display: grid;
    width: 100%;
    margin-top: calc(var(--fs-xl) * 2);
    border-top: 1px solid oklch(from var(--primary-2) l c h / 1);
    place-items: center;
    color: var(--dark);
    background-color: oklch(from var(--primary-0) calc(l + 0.1) c h / 0.8);

    & > p {
      text-align: center;
    }
  }
  .info-wrapper {
    width: 100%;
    padding: 1rem;
    display: grid;
    place-items: center;
  }
  .info {
    display: grid;
    gap: 1rem;
    place-items: center;
    margin-block: 1rem;
  }
  .contact {
    display: grid;
    gap: 0.5rem;
    place-items: center;
  }
  a {
    font-weight: 200;
    text-decoration: underline;
  }
  .anchor_linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
  }
  .sponsor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
    border-top: 1px solid oklch(from var(--secondary-0) l c h / 1);

    a {
      width: 100%;
      cursor: pointer;
    }
  }

  img {
    width: auto;
    height: auto;
    object-fit: contain;

    /* mix-blend-mode: multiply; */
  }
  .focus {
    mix-blend-mode: multiply;
  }
  @media screen and (min-width: 768px) {
    .info-wrapper {
      width: 80%;
    }
    .info {
      grid-template-columns: 1fr 1fr;

      img {
        width: 50%;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .info-wrapper {
      width: 100%;
      grid-template-columns: 30% 60%;
      justify-content: space-between;
    }
    .info {
      justify-self: flex-start;
      grid-template-columns: 1fr;

      img {
        width: 50%;
      }
    }
    .sponsor {
      border-top: none;
      justify-self: flex-end;
    }
    @media screen and (width > 1440px) {
      .info-wrapper {
        grid-template-columns: 50% 40%;
      }
      .info {
        grid-template-columns: 30% 60%;
        img {
          width: 70%;
        }
      }
      .contact {
        align-self: flex-end;
      }
    }
  }
</style>
