---
import NavItem from "@/components/atoms/NavItem.astro";
import HeaderName from "@/components/atoms/HeaderName.astro";
import ChangeLangAnchor from "@/components/atoms/ChangeLangAnchor.astro";

import { navigation } from "@/i18n/ui";
import type { Languages } from "@/i18n/consts";
import { shiftLang } from "@/i18n/utils";
import ClrThemeButton from "../atoms/ClrThemeButton.astro";

const baseUrl = import.meta.env.BASE_URL;
const changeLangOptions = shiftLang(Astro.url);

interface Props {
  lang: keyof typeof Languages;
}

const { lang } = Astro.props;

const { home, about } = navigation[lang];
const languagesReady = true;
---

<header>
  <nav>
    <ul>
      <NavItem href={`${baseUrl}${home.link}`} text={home.label} />
      <NavItem href={`${baseUrl}${about.link}`} text={about.label} />

      {
        languagesReady &&
          changeLangOptions.map(
            (op) =>
              op.available && (
                <ChangeLangAnchor langoptions={changeLangOptions} />
              )
          )
      }
      <ClrThemeButton />
    </ul>
  </nav>
</header>
<HeaderName />

<style>
  @property --opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
  @property --hue {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
  @property --ligthp {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }

  header {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
    backdrop-filter: blur(10px);
    background-color: oklch(from var(--secondary-2) l c h / var(--opacity));
    color: oklch(
      from var(--text-clr) calc(l + var(--ligthp)) c calc(h + var(--hue))
    );
    animation: opacityChange linear forwards;
    animation-timeline: scroll();
    animation-range: 0 200px;
    z-index: 20;
  }

  @keyframes opacityChange {
    0% {
      --opacity: 0;
      --hue: 0;
      --ligthp: 0;
    }
    100% {
      --opacity: 0.7;
      --hue: 280;
      --ligthp: 0.7;
    }
  }

  nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    gap: var(--fs-xs);
  }

  @media screen and (min-width: 768px) {
    header {
      padding: 1rem;
      align-items: end;
    }
  }
</style>
