---
import "@/css/focus.css";

import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";

import SpongeCartoon from "@/assets/images/focus/spongeCartoon.png";
import FocusLogo from "@/assets/images/FOCUS4PFAS.jpg";
import comic_01 from "@/assets/images/focus/v_01.png";
import comic_02 from "@/assets/images/focus/v_02.png";

import video_01 from "@/assets/videos/focus/video_01.mp4";
import video_02 from "@/assets/videos/focus/video_02.mp4";
---

<Layout>
  <main class="main-container">
    <h1>Focus For PFAS</h1>
    <header>
      <Image class="focus" src={FocusLogo} alt={"Logo de Focus for PFAS"} />
      <Image
        class="spongeCartoon"
        src={SpongeCartoon}
        alt={"Caricatura de una esponja"}
      />
    </header>
    <section class="introduction">
      <article>
        <h2>¿Qué son los PFAS y por qué son un problema?</h2>
        <p>
          Los <strong>PFAS</strong> son unas sustancias químicas que se usan desde
          los años 40 en muchos productos del día a día. Se les conoce como <strong
            >"químicos eternos"</strong
          > porque <strong>no se descomponen fácilmente</strong> y <strong
            >no se eliminan con los tratamientos normales de agua</strong
          >. Una vez que entran al ambiente, <strong
            >pueden quedarse ahí por muchísimo tiempo</strong
          >.
        </p>
        <p>
          Esto pasa porque están hechos con un tipo de unión química (entre
          carbono y flúor) muy fuerte, que hace que <strong
            >cada molécula que se libera al ambiente se quede allí durante años</strong
          >.
        </p>
      </article>
      <article class="comic_container">
        <figure>
          <Image src={comic_01} alt={"una familia en la cocina"} />
        </figure>
        <figure>
          <Image src={comic_02} alt={"una familia en la cocina"} />
        </figure>
      </article>
    </section>
    <section>
      <article>
        <h2>¿Qué busca este proyecto?</h2>
        <p>
          Este proyecto busca <strong
            >una solución para eliminar completamente los PFAS del agua
            contaminada</strong
          >. Para eso, estoy desarrollando un tipo especial de esponja hecha con <strong
            >grafeno</strong
          >, un material muy avanzado.
        </p>
        <p>
          Esta esponja se usa junto con <strong>electricidad</strong> para romper
          los PFAS y eliminar el <strong
            >flúor que los hace tan tóxicos y resistentes</strong
          >, incluso los más difíciles de eliminar:
        </p>
        <ul>
          <li>Los PFAS más grandes (de más de 6 átomos de carbono)</li>
          <li>Los más pequeños y nuevos que están empezando a usarse</li>
          <li>
            Y los que son muy difíciles de tratar con métodos tradicionales
          </li>
        </ul>
      </article>
      <article class="video_container">
        <figure>
          <video controls src={video_01}></video>
          <figcaption>
            Modifying the electrode pores improves the way PFAS bind or react
            with the anode as they pass through the material, thus optimizing
            the process's efficiency.
          </figcaption>
        </figure>
        <figure>
          <video controls src={video_02}></video>
          <figcaption>
            Este reactor funciona de forma continua y destruye los compuestos
            PFAS cuando se le aplica corriente eléctrica. Al pasar por el ánodo,
            las sustancias tóxicas se transforman en compuestos no tóxicos, lo
            que permite que el agua salga del reactor mucho más limpia.
          </figcaption>
        </figure>
      </article>
    </section>
    <section>
      <article>
        <h2>¿Por qué es importante?</h2>
        <p>
          Eliminar los PFAS del agua es clave para <strong
            >proteger nuestra salud y la del medio ambiente</strong
          >. Con esta tecnología, queremos limpiar diferentes tipos de agua
          contaminada, <strong>sin importar de dónde venga</strong>.
        </p>
      </article>
    </section>
  </main>
</Layout>
